.submitJokeScreen {
    background-image: url("/images/background/background-free-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitJokeScreenContainer {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 224, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.submitJokeScreenTitle {
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 34px;
    margin: 10px 0;
    color: #000000;
}

@media (max-width: 800px) {
    .submitJokeScreenContainer {
        width: 90%;
    }
}